body{
    background-color: #101322;
    color: #f5f5f5;
    box-sizing: border-box;
    width: 80%;
    margin: 0 auto;
}
.header {
    position: relative;
    text-shadow: px 1px rgba(255, 215, 106, 0.7);
    color: #ffd76a;
    letter-spacing: 5px;
}
.img2 {
    max-height: 100px;
    position: absolute
}
.title1 {
    width:100%;
    text-align: center;
    padding-top: 8px
}
.title2 {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.23);
}
.rule {
    margin:0 auto;
    width: 100%;
    display: flex;
    gap: 20px;
}
.rule1,.rule2 {
    width: 50%;
    padding: 0 20px 0 20px;
    background-color: rgba(10, 12, 24, 0.9);
    border: 3px solid rgba(255, 215, 106, 0.3);
    border-radius: 20px;

}
.rule3 {
    font-weight: 1000;
}
.input1{
    width: 100%;
    margin: 20px auto 0;
    background-color: #050810;
    color: #f5f5f5;
    background-color: rgba(10, 12, 24, 0.9);
    border: 3px solid rgba(255, 215, 106, 0.3);
    border-radius: 20px;
    padding: 20px 0 35px 20px;
    font-size: 18px;
    box-sizing: border-box;

}
input{
    text-align: right;
}
.kekka3{
    text-align: center;
    font-size: 20px;
    font-weight: 1000;
}
.kekka{
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%
}
.kekka1
{
    padding-left: 30px;
    width: calc(100% - 732px);
    background-color: rgba(10, 12, 24, 0.9);
    border: 3px solid rgba(255, 215, 106, 0.3);
    border-radius: 20px;
}
.kekka2{
    height: 376px;
    width: 732px; 
    position: relative;
    background-color: rgba(10, 12, 24, 0.9);
    border: 3px solid rgba(255, 215, 106, 0.3);
    border-radius: 20px;
}
.kekka4{
    height: 376px;
    width: 732px; 
    position: absolute;
    top: 0;
    left: 0;
}
#AAA{
    margin-top: 60px;
    text-align: center;
}
.Foot {
    width: 100%;
    color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 12px;
    text-align: center;
}
span{
    display: inline-block;
    min-width: 140px;
    text-align: right;
}
